@charset "UTF-8"
/* -*- coding: utf-8 -*- */
/*
 * style.sass -> style.css (April 26, 2017)
 *
 * (c) Olivier Pirson
 * http://www.opimedia.be/
 */

/*************
 * Constants *
 *************/
$link-color: #2070b0  /* Bootstrap #337ab7 */
$link-color-active: #002030
$link-color-hover: #2070f0  /* Bootstrap #23527c */
$link-color-visited: #104060

$link-mail-color: #007000
$link-mail-color-active: #003000
$link-mail-color-hover: #00a000
$link-mail-color-visited: #004000

$canonical-color: blue


/* Sizes */
$canvas-height: 300px
$canvas-width: 420px

$indent-size: 1.4em



/*********
 * Reset *
 *********/
body,
div,
dl, dt, dd,
figure,
footer, header,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
main,
p,
section,
span
  margin: 0
  padding: 0

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  margin: 0
  padding: 0

footer,
header,
main,
section
  display: block

ol,
ul
  padding-left: (2*$indent-size)

dd
  margin-left: (2*$indent-size)



/*********
 * Links *
 *********/
a,
a[href]
  outline: none
  text-decoration: none

a[href]
  color: $link-color

  &:visited
    color: $link-color-visited

  &:focus,
  &:hover
    color: $link-color-hover
    text-decoration: underline

  &:active
    color: $link-color-active

  &:focus.no-decoration,
  &:hover.no-decoration
    text-decoration: none


a[href*="#"]:after,
a[href$="pdf"]:after,
a[href^="http://"]:before,
a[href^="https://"]:before,
a[href^="mailto:"]:before,
a.https:before
  background-position: left bottom
  background-repeat: no-repeat

  content: ""
  display: inline-block
  height: 10px
  opacity: 0.5
  vertical-align: text-bottom
  width: 12px

a[href*="#"]:after
  background-image: url(../img/anchor-link--10x10-t.png)
  background-position: right bottom

  opacity: 0.4

a[href$="pdf"]:after
  background-image: url(../img/PDF--22x24-t.png)
  background-position: right center

  height: 24px
  opacity: 0.7
  vertical-align: middle
  width: 26px

a[href^="http://"]:before
  background-image: url(../img/external-link--10x10-t.png)

a[href^="https://"]:before,
a.https:before
  background-image: url(../img/external-link-https--8x10-t.png)

  width: 10px

a[href*="#"]:focus:after,
a[href*="#"]:hover:after,
a[href$="pdf"]:focus:after,
a[href$="pdf"]:hover:after,
a[href^="http://"]:focus:before,
a[href^="http://"]:hover:before,
a[href^="https://"]:focus:before,
a[href^="https://"]:hover:before,
a[href^="mailto:"]:focus:before,
a[href^="mailto:"]:hover:before,
a.https:focus:before,
a.https:hover:before
  opacity: 1


a[href^="mailto:"]
  color: $link-mail-color
  &:before
    content: "\2709"  /* &#9993; */
    margin-right: 0.2ex

  &:visited
    color: $link-mail-color-visited

  &:focus,
  &:hover
    color: $link-mail-color-hover
    text-decoration: underline

  &:active
    color: $link-mail-color-active


a.no-prefix:before,
.no-prefix a:before
  content: none

a.no-suffix:after,
.no-suffix a:after
  content: none

a.Bitbucket-logo-pre-a
  background-image: url(../img/Bitbucket.png)  /* 18x20 */
  background-position: left center
  background-repeat: no-repeat

  display: inline-block
  height: 20px
  line-height: 20px
  padding-left: 22px
  vertical-align: middle



/***********
 * General *
 ***********/
blockquote,
cite
  font-style: italic
  margin: 0
  padding: 0

  > blockquote,
  > cite
    font-style: normal

  em,
  i,
  &.reverse
    font-style: normal

    > blockquote,
    > cite,
    > em,
    > i
      font-style: italic

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 1.42857143  // from bootstrap.css

cite
  &.oral-quotes
    &:after
      content: "\00a0\00bb"  /* &nbsp;&raquo; */
    &:before
      content: "\00ab\00a0"  /* &laquo;&nbsp; */

  &.quotes
    &:after
      content: close-quote
    &:before
      content: open-quote


figure
  margin: 1ex
  text-align: center

  > figcaption
    font-size: smaller


img
  border: 0
  vertical-align: middle


input
  vertical-align: middle


mark
  background-color: transparent
  color: inherit

  font-style: italic
  font-weight: bold


span
  &.warning
    background-image: url(../img/Red-warning-8-icon--32x32.png)
    background-repeat: no-repeat

    display: inline-block
    height: 32px
    width: 32px

  &[title]
    border-bottom: 1px dotted gray


table tr
  vertical-align: top


ol > li,
ul > li
  margin-top: 1ex

  &:first-child
    margin-top: 0


.border-canonical
  border: 1px solid $canonical-color
  padding: 0 0.5ex

.color-isolated-point
  color: red
.color-not-compatible
  color: red
.color-not-disjoint
  color: orange
.color-other-segment
  color: #d0d0d0

.filename
  font-family: monospace
.URL
  font-family: monospace

.font-variant-normal
  font-variant: normal

.hidden
  visibility: hidden

.inline
  display: inline

.margin-left-m
  margin-left: 1em
.margin-left-2m
  margin-left: 2em

.small-caps,
.surname
  font-variant: small-caps

.smallskip
  margin-top: 1ex
.medskip
  margin-top: 2ex
.bigskip
  margin-top: 3ex
.bigbigskip
  margin-top: 6ex



/**********
 * Header *
 **********/
body
  > header
    cursor: pointer
    min-width: 400px
    position: relative
    text-align: center

    &:hover
      cursor: auto

      > section.page-title
        top: -2em

    > section
      > div
        > h1
          font-style: italic
          font-size: xx-large

          padding: 0.5ex 0

          > span
            background-color: black
            color: white
            padding: 1ex

      &.page-title
        background-color: white
        box-shadow: 0 5px 5px gray
        padding: 2em 0
        position: absolute
        left: 0
        top: -50em
        transition: top 0.5s
        width: 100%
        z-index: 1001

        > div
          margin-top: 2em

          > h1
            border-bottom: 1px solid black
            border-top: 1px solid black

            margin-top: 0.5ex

      &.short-title
        background-color: #f0f0f0

        > div.title
          box-shadow: 0 5px 5px gray

          > h1
            align-items: center
            display: flex
            justify-content: space-between
            padding: 0

            > span
              align-self: flex-end



/********
 * Main *
 ********/
main
  border-right: 1px solid #f0f0f0
  display: inline-block

  > section
    margin: 2em 2em 4em
    max-width: 1000px

    .conjecture,
    .lemma,
    .theorem
      border-left: 1px solid silver
      padding: 1ex

      > h4
        font-style: italic

        &:after
          content: "."

        &.inline
          margin-right: 1em

    .proof
      div.qed:after
        content: "\25a1"
        display: flex
        justify-content: flex-end

    > header
      margin-bottom: 1ex
      padding-top: 3px

      > h2
        border-bottom: 1px solid silver
        border-top: 1px solid silver

        display: inline

        padding-left: $indent-size
        padding-right: $indent-size

        > a
          display: none

          margin-left: 1ex
          margin-right: 1ex

          position: absolute

          &[href*="#"]:after
            background-image: none

        &:hover
          > a
            display: inline
            text-decoration: none !important

        > span:first-child
          margin-left: -1em
          margin-right: 1em

      & + section
        > header
          margin-top: 1em

    img[id$="-example"]
      cursor: pointer

    p
      text-align: justify

      & + p
        margin-top: 1ex

    > section
      > header
        margin: 3em 0 1ex
        padding-top: 3px

        > h3
          border-bottom: 1px dotted silver
          border-top: 1px dotted silver

          display: inline
          margin-left: 1em

          padding-left: $indent-size
          padding-right: $indent-size

          > a
            display: none

            margin-left: 1ex
            margin-right: 1ex

            position: absolute

            &[href*="#"]:after
              background-image: none

          &:hover
            > a
              display: inline
              text-decoration: none !important

          > span:first-child
            margin-left: -1em
            margin-right: 1em


    > ul.references
      padding-left: 1em

      > li
        &.article
          > span.title
            display: block

            font-style: italic
            font-weight: bold

        &.ref
          list-style-type: none
          position: relative

          &:before
            content: "[2]"
            left: -1.5em
            position: absolute

          &:first-child
            &:before
              content: "[1]"

          &:last-child
            &:before
              content: "[3]"



/************
 * Specific *
 ************/
div.controls-container
  margin: 0.5ex 0 1ex

  > div
    align-items: center
    display: flex
    justify-content: space-between

    > ul
      list-style-type: none
      padding: 0

      > li
        margin: 0


div.list-container
  > div
    display: inline

    &.controls-list-container
      > ul
        display: inline
        list-style-type: none
        padding: 0

        > li
          display: inline
          margin: 0 1ex

          &:last-child
            margin-right: 0

          &.sep
            border-left: 1px solid black

          > button
            padding: 0


div.matchings
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 1ex

  div
    align-self: center

    &.matching
      width: ($canvas-width + 2)

      > .canvas-container
        background-color: #f0f0f0
        cursor: crosshair
        height: ($canvas-height + 2)
        overflow: hidden
        position: relative

        > canvas
          border: 1px solid gray
          position: absolute
          height: $canvas-height
          width: $canvas-width

        &.canonical
          > canvas
            border-color: $canonical-color

      > .infos-container
        background-color: white
        border: 1px solid gray
        margin: 1ex 0
        padding: 1ex
        position: relative

        > div
          > div
            display: flex
            justify-content: space-between

            &:first-child
              margin-bottom: 1ex

            > button
              margin: -1ex 0

            > span
              &.canonical
                border: 1px solid $canonical-color
                padding: 0 2px

              &.not-canonical
                border: 1px solid transparent
                padding: 0 2px

        > nav
          position: absolute
          right: 1ex
          top: 3px

          > button
            padding: 0

    &.space
      align-self: center
      margin: 0 1ex
      text-align: center
      width: auto

      > div:first-child
        margin-bottom: 3em



.false
  color: red
  font-weight: bold

.true
  color: green


.work-in-progress
  color: red
  font-size: larger



#Contents
  background-color: #f0f0f0
  bottom: 0
  box-shadow: -5px -5px 5px gray
  margin: 0
  opacity: 0.9
  padding: 1em 1ex 0.5ex 1em
  position: fixed
  right: 0

  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  -webkit-user-select: none
  user-select: none

  a[href*="#"]
    color: black

  a[href*="#"]:after
    background-image: none
    width: 0

  > footer
    border-top: 1px solid black
    font-size: 80%
    margin-top: 1ex
    padding-top: 1ex
    text-align: left

    a[href^="http://"]
      color: black

      &:before
        content: none

    > h3
      font-size: 100%
      font-style: italic

  > header
    > div
      display: flex
      justify-content: space-between

      > a
        border-bottom: 1px solid transparent
        border-top: 1px solid transparent

        padding: 0 1ex

        &:first-child
          border-top-color: black

        &:last-child
          border-bottom-color: black

      > h2
        border-bottom: 1px solid silver
        border-top: 1px solid silver

        margin: 0 1ex

        padding-left: $indent-size
        padding-right: $indent-size

    > span
      background-color: black
      bottom: 0
      color: white
      cursor: pointer

      font-size: x-large
      font-weight: bold

      padding: 1ex 0
      position: absolute
      right: 0
      text-align: center
      width: 2em

      &#button-Contents-expand-collapse
        right: 2.5em

  > nav
    ul
      list-style-type: none
      padding: 0

      > li
        white-space: nowrap

        > span:first-child
          margin-right: 1em

        > ul
          font-size: smaller
          padding-left: 1em

          > li
            margin: 0

  &.collapse
    > nav
      > ul
        > li
          margin: 0

          > ul
            display: none

  &.off
    > footer,
    > header > div,
    > nav
      display: none

    > header
      > span
        box-shadow: -5px -5px 5px gray

        &#button-Contents-expand-collapse
          display: none


#global-infos-container
  > div
    align-items: center
    display: flex
    flex-direction: column
    margin: 0 auto
    text-align: center
    width: 44em

    &:first-child
      display: block
      position: relative
      text-align: left

      > span
        white-space: pre

        &:first-child
          background-color: white
          font-family: monospace
          position: absolute
          left: -10em

        &:last-child
          position: absolute
          right: 0

    &:last-child
      border-bottom: 1px solid black
      padding-bottom: 0.5ex


#Index
  > nav
    display: flex
    flex-wrap: nowrap
    justify-content: space-between

    > ul
      list-style-position: inside
      margin-left: 1em
      padding: 0

      > li
        margin: 0
        white-space: nowrap

        > span:first-child
          margin-right: 1em

      &:first-child
        margin-left: 0


#infos-list-matchings-container
  margin-top: 2ex


#list-matchings-container
  align-items: center
  flex-wrap: nowrap
  justify-content: left

  line-height: ($canvas-height*2/5)
  min-height: ($canvas-height*2/5)

  overflow-x: auto
  overflow-y: hidden

  > div
    height: ($canvas-height*2/5 + 1)
    margin-left: 6px

    &.sep
      background-color: black
      width: 3px

    &.zoom
      border: 1px solid gray
      width: ($canvas-width*2/5 + 1)

      &.canonical
        border-color: $canonical-color

      > div.matching
        transform: scale(0.4, 0.4)
        transform-origin: left top

        > .canvas-container
          cursor: auto

          > canvas
            border: 0 none

      &:first-child
        margin-left: 0

        > div.matching
          > .canvas-container
            > canvas
              border-left: 0 none


#wait-container,
#warning-container
  align-items: center
  background-color: black
  box-shadow: 5px 5px 5px gray
  color: white
  display: none
  justify-content: center
  padding: 1em
  position: fixed
  left: 2em
  text-align: center
  top: 5em
  z-index: 10001

#warning-container
  background-color: orange



/**************
 * Responsive *
 **************
@media screen and (max-width: 1040px)
  main
    > section
      margin-left: 2em
      margin-right: 2em

      max-width: none

@media screen and (max-width: 640px)
  body
    > header
      > section
        > div
          > h1
            font-size: large

  main
    > section
      margin-left: 1ex
      margin-right: 1ex

  #Contents
    font-size: smaller
    padding: 1ex 1ex 0.5ex 1ex

    > header
      > span
        padding: 0

    > nav
      > ul
        > li
          margin: 0



/*********
 * Print *
 *********
@media print
  a
    color: black !important

    &:visited,
    &:focus,
    &:hover,
    &:active
      color: black !important

    &:before,
    &:after
      content: none !important

  body
    > header
      page-break-after: always

      > section
        &.page-title
          position: static
          box-shadow: none

        &.short-title
          display: none

        > div
          margin: 3em 0 6em

    > main
      border-right: 0 none
      border-bottom: 1px solid black

      display: block
      padding-bottom: 2em

      button,
      .controls-container
        display: none

      > section
        margin: 2em 1em 0

        > section
          > div.list-container
            > div.controls-list-container
              display: none


  .matchings
    display: block



  #Contents
    background-color: transparent
    box-shadow: none
    margin: 2em 1em 0
    padding: 0 !important
    position: static

    > header
      > div
        display: inline-block !important

      > div
        > h2
          margin: 0

    > nav,
    > nav > ul > li > ul
      display: block !important

    > footer,
    > header > div > a,
    > header > span,
      display: none



  span[title]
    border-bottom: 0 none
